body {
            background-color: #36509df0;
        }

        .heading {
            text-align: center;
            color: #4071ff;
            font-family: sans-serif;
            letter-spacing: 3px;
            border: 2px solid black;
            width: fit-content;
            margin: 0 auto;
            padding: 7px 18px;
            border-radius: 5px;
            margin-bottom: 2rem;

        }

        .container {
            background-color: #ffdd9bf0;
            width: max-content;
            height: max-content;
            padding: 2rem;
            border-radius: 5px;
            margin: auto;
            margin-top: 4rem;
        }

        #error {
            color: red;
            display: block;
            text-align: center;
            font-size: 19px;
            margin-bottom: .3rem;
        }

        #name {
            padding: 7px 10px;
            box-shadow: none;
            border: none;
            width: 300px;
            border-radius: 2px;
            font-size: 18px;
        }

        #name:focus {
            box-shadow: none;
            outline: 1px solid black;
        }

        #todobtn {
            padding: 6px 15px;
            font-size: 20px;
            border: none;
            background-color: black;
            color: white;
            border-radius: 3px;
            margin-left: .5rem;
        }

        #box {
            list-style: none;
            font-size: 20px;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: sans-serif;
        }

        .remove {
            text-decoration: none;
            float: right;
            margin-right: 1.5rem;
            color: red;
        }

        .remove:visited,
        .remove:hover,
        .remove:active {
            color: red;
        }